#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Banner */
.banner{
  display: flex;
  flex-flow: column;
  height: 100px;
  width: 200px;
  margin: auto;
  align-items: center
}
.h1{
  margin-bottom: 1px;
}
.h4{
  margin-top: 1px;
}